.header {
  background: linear-gradient(0deg, rgba(110, 16, 94, 0) 3%, #320029 100%);
  max-width: 1440px;
  padding: 10px 68px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 98px;
  height: 98px;
}

@media screen and (max-width: 850px) {
  .header {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 426px) {
  .header {
    padding: 10px 20px;
  }
}
