.sidebar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: visibility 0.5s, opacity 0.5s ease;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #EFF3F5;
  height: 100%;
  width: 100%;
  max-width: 650px;
  display: flex;
  z-index: 3;
  flex-direction: column;
  transition: right ease 0.5s;
}

.sidebar_invisible {
  right: -100%;
}

.sidebar__wrapper {
  height: 144px;
}

.sidebar__button {
  background-image: url('../../images/cross.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  position: absolute;
  top: 27px;
  right: 18px;
  width: 22px;
  height: 22px;
  border: none;
  padding: 0;
}

.sidebar__button:hover {
  cursor: pointer;
}

.sidebar-overlay_invisible {
  visibility: hidden;
  opacity: 0;
}

@media screen and (min-width: 650px) {
  .sidebar {
    width: 520px;
  }
}
